.main {
  /* Main styles go here */
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  overflow-x: hidden;

}

.heroTitle {
  font-family: 'Inter', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 160px;
  color: #000000;
}

.highlight {
  color: #a97df5; /* Figma purple */
}

.heroSubtext {
  font-size: 1.25rem;
  color: #4d4d4d;
  text-align: center;
  max-width: 600px;
}

.fadeIn {
  opacity: 1;
  transform: rotateX(0deg) translateY(0);
  transition: opacity 0.3s cubic-bezier(0.4,0,0.2,1), transform 0.3s cubic-bezier(0.4,0,0.2,1);
}

.fadeOut {
  opacity: 0;
  transform: rotateX(60deg) translateY(40px);
  transition: opacity 0.3s cubic-bezier(0.4,0,0.2,1), transform 0.3s cubic-bezier(0.4,0,0.2,1);
}

.watchVideoButtonSpacing {
  margin-top: 50px;
}

.button:hover {
  transform: scale(1.07);
  transition: transform 0.15s;
}

.button {
  transition: transform 0.15s;
}

@media (max-width: 700px) {
  .main {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
  }
  .heroTitle {
    font-size: 2rem;
    margin-top: 80px;
  }
  .heroSubtext {
    font-size: 1rem;
    max-width: 95vw;
  }
  .watchVideoButtonSpacing {
    margin-top: 24px;
  }
} 